body {
    margin: 48px;
    max-width: 100%;
    max-height: 100%;
}

.img-responsive {
    margin: 0 auto;
}

.figure-udacity {
    width: 30%;
    height: 30%;
    max-width: 100%;
    max-height: 100%;
}

.title {
    text-align: right;
    max-width: 100%;
    max-height: 100%;
}

.title-name {
    font-size: 24px;
}

.title-role {
    font-size: 14px;
}

.figure-main-image {
    width: 100%;
    height: 100%;
}

.featured-work {
    font-size: 24px;
    margin-top: 24px;
    margin-left: 64px;
}

.devider {
    border-bottom: solid #7d97ad;
}

.app-detail {
    text-align: center;
}